@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

/* RESET CSS */

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}


ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


/* END RESET */

/* MAIN PAGE */

/* GENERIC */

html {
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100%;
    background-color: #636664;
}

.container {
    background-image: url("https://images.unsplash.com/photo-1503457574462-bd27054394c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* HEADER */

.container #header {
    margin-left: 65%;
    margin-bottom: 6%;
    height: 3%;
    padding-top: .7%;
    letter-spacing: 0.075em;
    right: 1.5em;
    text-transform: uppercase;
    top: 0.75em;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header a,
.dropdown {
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent;
    text-decoration: none;
}

#welcome {
    font-weight: bolder;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
}

#menu {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
}

#signup {
    display: flex;
    border: 1px solid rgb(172, 189, 178);
    color: white;
    text-decoration: none;
    background: rgb(68, 104, 82);
    width: 25%;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}



/* DROP DOWN */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* HEADER BANNER */

#headbanner {
    display: flex;
    flex-direction: column;
    margin: 0% 36% 20%;
    height: 60%;
    background: rgba(55, 90, 66, 0.616);
    padding-top: 4.5%;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

h1 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: 0.1em;
    /* border-top: 2px dotted white;
    border-bottom: 2px dotted white; */
    margin: 0% 15%;
}

#headbanner p {
    padding: 10% 15%;
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
    color: white;
}

.explore {
    display: flex;
    border: 3px solid rgb(172, 189, 178);
    color: white;
    text-decoration: none;
    background: rgba(55, 90, 66, 0.616);
    width: 70%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0% 15%;
}


/* IMG GRID STYLING */

#bodyblock {
    background-color: rgb(233, 233, 233);
    margin: 0% 10%;
}

#bodyp {
    padding-top: 5%;
    margin: 0% 10% 5%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: lighter;
}

.strong {
    font-weight: bolder;
}

#bodyblock .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#img1, #img2, #img3, #img4 {
    width: 90%;
    margin-bottom: 3%;
    border: 2px solid black;
}

.img {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-bottom: 5%;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2%;
}

.images p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}


/* FOOTER */

#footer {
    display: flex;
    justify-content: space-evenly;
    background: #636664;
    text-align: center;
    margin-top: 5%;
    height: 2%;
}

/* END MAIN PAGE */

/* TEAM PAGE */

.container2 {
    background-image: url("https://images.unsplash.com/photo-1508867743401-21ad68d105b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2800&q=80");
    height: 1900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAVIGATION BAR */

.container2 #signup {
    display: flex;
    border: 1px  rgb(172, 189, 178);
    color: white;
    text-decoration: none;
    background: rgb(91, 123, 167);
    width: 25%;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container2 #header {
    margin-left: 65%;
    margin-bottom: 6%;
    height: 3%;
    padding-top: .7%;
    letter-spacing: 0.075em;
    right: 1.5em;
    text-transform: uppercase;
    top: 0.75em;
}

/* TEAM IMAGES */

#teamheader {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background: rgba(166, 182, 202, 0.616);
    margin: 0% 15% 5%;
    padding-top: 3%;
    /* box-shadow: 2.5px 2.5px 2.5px rgb(128, 136, 150); */
    border: 1px solid rgba(0, 0, 0, 0.267);
}

.container2 h1 {
    font-size: 4rem;
    margin-bottom: 5%;
    color: #dbdddc;
}

.container2 h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.container2 p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-align: center;
}

#buddy, #zachary, #stacey, #chris, #kristian, #khwanchai, #maycie {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 3%;
    border: 2px solid black;
}


.teamimg1, .teamimg2, .teamimg3, .teamimg4, .teamimg5, .teamimg6, .teamimg7  {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin-bottom: 5%;
}


/* END TEAM DESIGN */


/* ABOUT DESIGN */

.container3 {
    background-image: url("https://images.unsplash.com/photo-1554797589-7241bb691973?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2776&q=80");
    height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* NAVIGATION BAR */

.container3 #signup {
    display: flex;
    border: 1px solid rgb(184, 172, 189);
    color: white;
    text-decoration: none;
    background: rgb(165, 79, 79);
    width: 25%;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container3 #header {
    margin-left: 65%;
    margin-bottom: 6%;
    height: 3%;
    padding-top: .7%;
    letter-spacing: 0.075em;
    right: 1.5em;
    text-transform: uppercase;
    top: 0.75em;
}

/* BODY DESIGN */

.aboutsection {
    background: rgba(240, 239, 239, 0.616);
    margin: 0% 15% 5%;
    padding-top: 3%;
    /* box-shadow: 2.5px 2.5px 2.5px rgb(128, 136, 150); */
    border: 1px solid rgba(0, 0, 0, 0.267);
}

.aboutsection h1{
    font-family: 'Lato', sans-serif;
    color: #434443;
    margin-bottom: 4%;
}

.aboutbody {
    margin: 0% 3% 5%;
}

.div1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutbody p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    /* width: 20%; */
}

.aboutpics {
    width: 50%;
    margin: 2% 0%;
    border: 2px solid black;
}

/* END ABOUT DESIGN */




/* RESPONSIVE DESIGN HOME */

@media (max-width: 1000px) {

    .container {
        height: 44rem;
    }

    .container #header {
        margin-left: 55%;
        margin-bottom: 10%;
    }

    #headbanner {
        margin: 0% 30% 20%;
        height: 70%;
        background: rgba(55, 90, 66, 0.616);
        padding-top: 4.5rem;
    }

    #bodyp {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .images p {
        font-size: 0.9rem;
    }

    #footer {
        height: 8%;
    }

}


@media (max-width: 800px) {

    .container #header {
        margin-left: 48%;
        margin-bottom: 5%;
    }

    #headbanner {
        margin: 0% 25% 25%;
        height: 60%;
    }

    h1 {
        font-size: 4rem;
        margin-top: 3%;
    }

    #headbanner p {
        padding: 10% 15%;
        text-align: center;
        font-size: 1.3rem;
    }

    .container #header {
        margin-bottom: 20%;
    }

    #bodyp {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .images p {
        text-align: center;
    }

}

@media (max-width: 500px) {

    .container {
        height: 40rem;
    }

    .container #header {
        margin-left: 0%;
    }

    #headbanner {
        margin: 0% 15% 25%;
        height: 60%;
        margin-bottom: 35%;
    }

    h1 {
        font-size: 3rem;
        margin-top: 5%;
    }

    #headbanner p {
        padding: 10% 15%;
        font-size: 1rem;
    }

    #header {
        margin-bottom: 50%;
    }

    .images {
        flex-direction: column;
        align-items: center;
    }

    .img {
        width: 100%;
    }

    #bodyp {
        font-size: 1rem;
    }


    #img1, #img2, #img3, #img4 {
        width: 60%;
        margin-bottom: 5%;
    }


}


@media (max-width: 375px) {

    #headbanner {
        height: 50%;
        margin-bottom: 70%;
    }

    h1 {
        margin-top: -5%;
    }
}



/* RESPONSIVE DESIGN TEAM */

@media (max-width: 1000px) {

    .container2 {
        height: 95rem;
    }

}

@media (max-width: 800px) {

    .container2 #header {
        margin-left: 48%;
        margin-bottom: 10%;
    }

    .container2 h1 {
        font-size: 2.4rem;
    }

    .container2 {
        height: 76rem;
    }

}


@media (max-width: 500px) {

    .container2 {
        height: 123rem;
    }

    .container2 #header {
        margin-left: 0%;
    }

    .container2 h1 {
        font-size: 1.5rem;
    }

    .container2 h2 {
        font-size: 1rem;
    }
    
    .container2 p {
        font-size: 0.7rem;
    }

    #teamheader {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .teamimg1, .teamimg2, .teamimg3, .teamimg4, .teamimg5, .teamimg6, .teamimg7 {
        width: 100%;
    }

}


/* RESPONSIVE DESIGN ABOUT */

@media (max-width: 1000px) {
    .container3 {
        height: 75rem;
    }

    .aboutbody p {
        font-size: 1.3rem;
    }

}


@media (max-width: 800px) {

    .container3 {
        height: 55rem;
    }

    .container3 #header {
        margin-left: 48%;
        margin-bottom: 5%;
    }

    .aboutsection h1 {
        font-size: 2.5rem;
    }

    .aboutbody p {
        font-size: 1rem;
    }
}


@media (max-width: 500px) {
    
    .container3 {
        height: 75rem;
    }

    .container3 #header {
        margin-left: 0%;
        margin-bottom: 10%;
    }

    .aboutsection h1 {
        font-size: 1.7rem;
    }

    .div1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #dsec1, #dsec3 {
        display: flex;
        flex-direction: column-reverse;
    }

    .aboutpics {
        width: 100%;
    }

}





